@import "../../scss/styles/variables/breakpoints";
@import "../../scss/styles/variables/colors";
@import "../../scss/styles/variables/fonts";

.benefits {
  width: 100%;
  background-color: $LightGreyBackground;

  .benefits-container {
    max-width: 800px;
    display: grid;
    gap: 10px;
    overflow: hidden;
  }

  .benefits-single,
  .benefits-double {
    background-color: white;
    border: 1px solid $colorBorder;
    border-radius: 7px;
  }

  .benefits-single {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits-reverse {
    flex-direction: column-reverse;
  }

  .benefits-text {
    padding: 0 30px 40px;

    .benefits-title {
      text-align: left;
    }
  }
  // 3. sloupec / zelený
  .benefits-text--padding {
    padding: 30px 30px 40px;
  }

  // dekorativní spodní linka a její varianty
  .benefits-color::after {
    content: "";
    width: 50%;
    height: 4px;
    border-radius: 2px;
    display: block;
    margin-top: 30px;
  }

  .benefits-single:nth-child(1) .benefits-color::after {
    background-color: nth($boxColors, 1);
  }

  .benefits-single:nth-child(2) .benefits-color::after {
    background-color: nth($boxColors, 3);
  }

  .benefits-wrapper .benefits-color::after {
    background-color: nth($boxColors, 2);
  }

  .benefits-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .benefits-double {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .benefits-single--image {
      background-color: nth($list: $boxColors, $n: 2);
    }
  }
}

// obrázky v mobilní verzi
.benefits-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.benefits-image--notebook,
.benefits-image--phone,
.benefits-image--trumpet {
  position: relative;
  width: 260px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 220px;
    height: auto;
  }
}

.benefits-image--notebook::before,
.benefits-image--phone::before {
  content: "";
  position: absolute;
  z-index: 1;
}

.benefits-image--notebook::before {
  z-index: 1;
  width: 120px;
  height: 120px;
  top: 24px;
  right: 0px;
  background-color: nth($list: $boxColors, $n: 1);
  border-radius: 20px;
  transform: rotate(45deg);
}

.benefits-image--phone::before {
  z-index: 1;
  width: 160px;
  height: 160px;
  top: 54px;
  right: 39px;
  background-color: nth($list: $boxColors, $n: 3);
  border-radius: 50%;
  transform: rotate(45deg);
}

@media (min-width: $mobileBreakPoint) {
  .benefits {
    .benefits-text {
      padding: 40px 30px;
    }

    .benefits-reverse {
      flex-direction: row;
    }

    .benefits-single {
      flex-direction: row;
    }

    .benefits-wrapper {
      flex-direction: row;
    }
  }
}
