@import "../variables/breakpoints";
@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins";

.container-contacts {
  display: grid;
  gap: 30px;
  max-width: 800px;
  margin: 40px auto 0;
}

.left-side-contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content_text {
  font-size: 16px;
  line-height: 1.5;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  img {
    width: 24px;
    height: 24px;
  }

  .details__item {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: block;
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: $primaryBrand;
}

.text,
.email {
  width: 100%;
  border: none;
  border-bottom: 1px solid $colorSmallFonts;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 15px;
}

.message {
  width: 100%;
  min-height: 120px;
  padding: 12px;

  border: 1px solid $colorSmallFonts;
  border-radius: 5px;

  resize: vertical;
  font-family: inherit;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkmark {
  background-image: url("./assets/Checkmark-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkmark {
  flex-shrink: 0;

  width: 20px;
  height: 20px;

  border: 1px solid $colorSmallFonts;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: $colorFontHover;
  }
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  .form-text {
    font-size: 11px;
    line-height: 1.5;
    max-width: 65ch;
  }
}

.button {
  align-self: center;

  @include button($paddingPriceButton);

  background-color: $primaryBrand;
  border: none;
  border-radius: 35px;

  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: $mobileBreakPoint) {
  .container-contacts {
    grid-template-columns: 250px 1fr;
    align-items: start;
  }

  .button {
    align-self: flex-end;
  }
}
