@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins";

.opening {
  display: flex;
  flex-direction: column;
  text-align: center;
  // padding-top: 15dvh;

  .opening-article {
    padding: 25px 70px;
  }

  .image-bg {
    width: 100%;
    background: url(./assets/background/background_higher-profits.png) no-repeat
      center/cover;
    aspect-ratio: 16/9;
  }

  .btn {
    @include button($paddingMainButton);
    background-color: $colorMainButton;

    @media (max-width: 500px) {
      padding: 1em 6em;
    }
  }
}

@media (min-width: $mobileBreakPoint) {
  .opening {
    .image-bg {
      width: 70%;
      aspect-ratio: 16/9;
    }
  }
}
