@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins";

.opening {
  min-height: 90dvh;

  .image-bg {
    position: relative;
    width: 100%;
    background: url(./assets/background/background_higher-profits_mobil.png)
      no-repeat center/cover;
    aspect-ratio: 4/3;
    margin: 55px 0 35px;
  }

  .btn {
    position: relative;
    @include button(0.9em 3em);
    background-color: $primaryBrand;
    text-transform: uppercase;

    justify-self: center;
  }
}

@media (min-width: $mobileBreakPoint) {
  .opening {
    position: relative;

    display: grid;
    align-items: center;

    grid-template-columns: minmax(0, 2.6fr) minmax(0, 1fr);

    .image-bg {
      background: url(./assets/background/background_higher-profits.png)
        no-repeat center/cover;
      grid-column: 1 / 2;
      aspect-ratio: 16/9;
      margin: 0;
    }

    .btn {
      grid-column: 2 / 3;
      justify-self: start;
      margin-top: -70px;
      margin-left: -120px;
      letter-spacing: 0.1em;
      padding: 1.1em 6em;
    }
  }
}
