@import "../variables/breakpoints";
@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins";

.pricing-title {
  text-align: center;
}

.pricing_boxes {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 40px;

  margin-block: 20px;
}

.pricing-box {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  overflow: visible;

  border-radius: 18px;

  .pricing-content {
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
    padding-top: 30px;
  }

  .pricing-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;

    .pricing-items {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 7px;

      .pricing-item {
        font-size: 13px;
        color: $colorSmallFonts;
      }
    }
  }

  .btn {
    position: relative;
    @include button($paddingPriceButton);
    font-size: 14px;
    bottom: -16px;
  }

  .btn--basic {
    background-color: $colorBlueButton;
  }

  .btn--professional {
    background-color: $primaryBrand;
  }

  .btn--premium {
    background-color: $colorGreenButton;
  }
}

.pricing-box--basic,
.pricing-box--premium {
  min-height: 260px;
  max-width: 280px;
  width: 100%;
}

.pricing-box--basic {
  border: 1px solid nth($list: $boxColors, $n: 3);
  box-shadow: 3px 4px 15px oklch(78.467% 0.13162 219.341 / 0.1);
}

.pricing-box--professional {
  border: 1px solid nth($list: $boxColors, $n: 1);
  box-shadow: 3px 4px 15px oklch(80.7647% 0.169852 75.7153 / 0.1);
  min-height: 260px;
  max-width: 310px;
  width: 100%;
  transform: scale(1.05);
}

.pricing-box--premium {
  border: 1px solid nth($list: $boxColors, $n: 2);
  box-shadow: 3px 4px 15px oklch(84.652% 0.18702 161.498 / 0.1);
}

// fajfka a krizek
.pricing-item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("./assets/Checkmark-1.svg");
}

.pricing-item--not::before {
  background-image: url("./assets/Close.svg");
}

.pricing-title {
  font-family: $mainFont;
  font-weight: 700;
  font-size: 20px;
}

.price {
  font-size: 46px;
}

.price-color1 {
  color: nth($list: $boxColors, $n: 3);
}

.price-color2 {
  color: nth($list: $boxColors, $n: 1);
}

.price-color3 {
  color: nth($list: $boxColors, $n: 2);
}

.pricing-limited {
  font-family: $mainFont;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: $mobileBreakPoint) {
  .pricing_boxes {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
  }

  .pricing-box {
    height: 100%;
  }
}
