@use "../../styles/variables/colors" as c;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/paddingButton" as p;
@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/gradient" as g;

.calc {
  padding: 50px 0;
  background-color: c.$LightGreyBackground;

  &__contain {
    width: 100%;
    max-width: 800px;
    margin-block: 30px;
    display: grid;
    margin-inline: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
    min-width: 0;
  }

  &__input input,
  &__select .select__input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid c.$color-gold-middle;
    padding: 11px 15px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0px 3px 6px c.$boxShadow;
    background-color: white;
  }

  .form__input {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    font-size: 15px;
    font-weight: 300;
    font-family: f.$numberFont;
  }

  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      font-size: 16px;

      cursor: pointer;

      // šipka pro výběr produktu
      &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 14px;
        width: 8px;
        height: 8px;

        border-right: 2px solid c.$color-gold-middle;
        border-bottom: 2px solid c.$color-gold-middle;

        transform: rotate(45deg);
        transition: transform 0.3s ease;
      }
    }

    .select__dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #dcdcdc;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      top: 50px;
      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: c.$LightGreyBackground;
          font-weight: 700;
        }
      }
    }

    &.open {
      .select__input::after {
        transform: rotate(225deg);
      }

      .select__dropdown {
        display: block;
      }
    }
  }

  &__summary {
    width: 100%;
    min-width: 0;

    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-left: 0;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .summary__total,
    .list__item {
      min-height: 40px;
      padding: 8px 45px 8px 15px;
      background: g.$gradient-green-button;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 6px;
      align-items: center;
      color: white;
      display: flex;

      & > :first-child {
        display: inline-block;
      }

      .item__calc {
        overflow-wrap: anywhere;
      }
    }
  }

  .summary__total {
    align-self: flex-end;
    padding: 8px 40px;
    background: g.$gradient-gold-button;

    .total__price {
      font-size: 1.25rem;
      font-weight: 700;
      padding-left: 10px;
      font-family: f.$numberFont;
    }
  }

  .item {
    &__price {
      font-weight: 600;
      font-family: f.$numberFont;
    }
  }
}

.list__item {
  position: relative;
  min-width: 0;
  justify-content: space-between;
}

.list__item[data-id="products"] {
  order: 0;
}
.list__item[data-id="orders"] {
  order: 1;
}
.list__item[data-id="package"] {
  order: 2;
}
.list__item[data-id="accounting"] {
  order: 3;
}
.list__item[data-id="terminal"] {
  order: 4;
}
// tlačítko pro smazání položky
.item__remove {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 3px 6px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 4px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.list__item.open .item__remove {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.consent__text {
  font-size: 16px;
}

.calc__preview {
  display: none;
}

.item__calc {
  display: none;
}

@media (min-width: b.$tabletBreakPoint) {
  .calc {
    &__contain {
      grid-template-columns: 240px 130px 1fr;
      align-items: start;
      gap: 15px;
    }

    &__summary {
      margin-top: 0;

      .list__item {
        order: 0;
        justify-content: flex-end;

        & > :first-child {
          display: none;
        }
      }
    }
  }

  .calc__preview {
    display: inline-flex;
    flex-direction: column;
    gap: 34px;

    font-weight: 600;
    margin: 9px 0 0 25px;
  }

  .item__type.active {
    font-weight: 700;
    color: #26c794;
  }
}
