@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/colors" as c;
@use "../../styles/variables/mixins" as m;

.header {
  position: sticky;
  top: 0; // nezapomeň!!! jinak sticky nefunguje
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: var(--gradient-gold);
  padding-inline: 20px;
  z-index: 10;
}

.header_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
}

//Mobilní navigace (schovaná defaultně)
.navigation_menu {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;

  background-color: rgb(247, 247, 247);
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: max-height 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  //Mobilní navigace (rozbalena)
  &.is-open {
    opacity: 1;
    pointer-events: auto;
    max-height: 350px;

    a {
      color: c.$color-gold-dark;
      font-weight: 500;
      border-bottom: 1.5px solid c.$color-gold-dark;
      // padding-block: 15px;
    }

    .ul_seznam {
      align-items: inherit;
      text-align: center;
    }
  }

  .ul_seznam {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    // margin: 0;
    position: relative;

    li {
      // margin: 10px 0;

      a {
        font-size: 11px;
        // letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s, font-weight 0.2s, transform 0.2s;
        display: block;
        // padding: 15px 10px;
      }

      a:hover {
        color: c.$colorFontHover;
        font-weight: 700;
        border-bottom: 3px solid c.$color-gold-light;
      }
    }
  }
}

// Hamburger button
.menu_button {
  position: relative;
  font-size: 23px;
  color: white;
  background-color: transparent;
  // padding: 25px;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  display: flex;
  cursor: pointer;
}

.icon-open,
.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.icon-open {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}

.icon-close {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.menu_button[aria-expanded="true"] .icon-open {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.menu_button[aria-expanded="true"] .icon-close {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}

@media (min-width: b.$tabletBreakPoint) {
  .header {
    height: 60px;
  }

  .menu_button {
    display: none;
  }

  .navigation_menu {
    position: static; // zruší absolutní pozicování
    max-height: none;
    overflow: visible;
    pointer-events: auto;
    box-shadow: none;
    background-color: transparent;

    .ul_seznam {
      flex-direction: row;
      gap: 30px;

      li a {
        font-size: 13px;
        // letter-spacing: 1.5px;
      }
      a:hover {
        color: c.$colorFontHover;
        font-weight: 700;
        border-bottom: none !important;
      }
    }
  }
}
