// Colors of fonts
$colorSmallFonts: oklch(67.635% 0.02221 91.67);
$colorFontHover: oklch(37.616% 0.06951 96.676);

// Colors of background
$LightGreyBackground: oklch(0.9672 0 0);

// Colors of borders
$colorBorder: oklch(0.9344 0.0055 274.96);
$boxShadow: oklch(0.6829 0 0 / 20.4%);

// Colors of gradients
$color-gold-light: oklch(0.8914 0.1775 95.64);
$color-gold-middle: oklch(0.7857 0.1597 83.22);
$color-gold-dark: oklch(0.7049 0.1426 84.41);

$color-green-light: oklch(88.84% 0.18663 160.547);
$color-green-middle: oklch(84.02% 0.18 164.21);
$color-green-dark: oklch(81.357% 0.19587 156.317);

$color-blue-light: oklch(0.89 0.08 219.34);
$color-blue-middle: oklch(0.78 0.13 219.34);
$color-blue-dark: oklch(0.7 0.11 219.34);
