// Colors of buttons
$colorGreenButton: oklch(84.652% 0.18702 161.498);
$colorBlueButton: oklch(78.467% 0.13162 219.341);
$colorGoldButton: #ffd922;

// Colors of fonts
$colorSmallFonts: oklch(0.6625 0.0035 17.25);
$colorFontHover: oklch(0.299 0.0211 196.07);
$primaryBrand: oklch(0.807647 0.169852 75.7153);

// Colors of background
$LightGreyBackground: oklch(0.9672 0 0);

// Colors of borders
$colorBorder: oklch(0.9344 0.0055 274.96);
$boxShadow: oklch(0.6829 0 0 / 20.4%);

// Colors of gradient
$color-gold-light: #ffd922;
$color-gold-middle: #eaae0c;
$color-gold-dark: #c9970b;

// Gradient
// $gradient-gold: linear-gradient(
//   90deg,
//   $color-gold-light 0%,
//   $color-gold-middle 50%,
//   $color-gold-dark 100%
// );
