@use "./colors" as c;
@use "./fonts" as f;

@mixin button($padding) {
  display: flex;
  justify-content: center;

  color: #fff;
  text-decoration: none;
  padding: $padding;
  font-family: f.$mainFont;
  border-radius: 40px;
  box-shadow: 0px 2px 3px 0px grey;
  transition: 0.2s;
  font-weight: 600;
  min-width: 3em;
  max-width: 100%;
  white-space: nowrap;
  letter-spacing: 0.3px;

  &:hover {
    transform: scale(0.95);
  }
}

@mixin gradient-text($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;

  color: white;
  -webkit-text-fill-color: transparent;
}
