@use "../styles/variables/breakpoints" as b;
@use "../styles/variables/colors" as c;
@use "../styles/variables/mixins" as m;
@use "../styles/variables/paddingButton" as p;

.container-contacts {
  display: grid;
  gap: 20px;
  max-width: 800px;
  margin: 30px auto 50px;
}

.left-side-contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content_text {
  font-size: 16px;
  line-height: 1.5;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    color: c.$colorFontHover;
    font-size: 14px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .details__item {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .wrapper_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.form-field {
  display: block;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: c.$primaryBrand;
}

.text,
.email {
  width: 100%;
  border: none;
  border-bottom: 1px solid c.$colorSmallFonts;
  padding: 8px 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.message {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  margin-top: 15px;
  letter-spacing: 0.5px;

  border: 1px solid c.$colorSmallFonts;
  border-radius: 5px;

  resize: vertical;
  font-family: inherit;
}

textarea::placeholder {
  color: #b0b0b0;
  font-size: 14px;
  font-style: italic;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkbox {
  background-image: url("../assets/icons/Checkmark-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.checkbox {
  flex-shrink: 0;

  width: 20px;
  height: 20px;

  border: 1px solid c.$colorSmallFonts;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: c.$colorFontHover;
  }
}

.button {
  align-self: center;

  @include m.button(p.$paddingPriceButton);

  background-color: c.$primaryBrand;
  border: none;
  border-radius: 35px;

  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: b.$tabletBreakPoint) {
  .container-contacts {
    grid-template-columns: 230px 1fr;
    align-items: start;
  }

  .button {
    align-self: flex-end;
  }
}
