@use "../styles/variables/colors" as c;
@use "../styles/variables/mixins" as m;
@use "../styles/variables/breakpoints" as b;
@use "../styles/variables/gradient" as g;

.opening {
  display: grid;
  align-items: start;
  min-height: 85vh;
  padding-block: 70px 80px;

  .opening_container {
    display: grid;
    justify-content: center;

    .wrapper_title {
      position: relative;
      display: grid;
      grid-template-columns: minmax(0, auto) 3px;
      justify-items: end;
      gap: 8px;

      .hero-line {
        width: 2.5px;
        background: c.$color-gold-light;
      }

      .title_row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 5px;

        .icon {
          width: 33px;
        }

        .title_opening {
          font-size: clamp(
            25px,
            calc(25px + (37 - 25) * ((100vw - 425px) / (1440 - 425))),
            37px
          );
        }
      }

      .opening_content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        grid-column: 1;

        text-align: right;

        .subtitle_opening {
          font-weight: 400;
          padding-bottom: 0;
          font-size: clamp(
            15.5px,
            calc(15.5px + (21 - 15.5) * ((100vw - 425px) / (1440 - 425))),
            21px
          );
          width: 100%;
        }

        .logo img {
          width: clamp(
            120px,
            calc(120px + (150 - 120) * ((100vw - 425px) / (1440 - 425))),
            150px
          );
        }
      }
    }
  }

  .image-bg {
    background: url(../assets/background/bestshop__hero_mobil.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 3;
  }

  .hero_actions .btn {
    position: relative;

    @include m.button(0.7em 3.5em);
    background: white;
    text-transform: uppercase;

    width: clamp(
      260px,
      calc(260px + (390 - 260) * ((100vw - 320px) / (1440 - 320))),
      390px
    );

    height: auto;
    margin: auto;

    span {
      @include m.gradient-text(g.$gradient-gold-flat);
      font-weight: 700;
      letter-spacing: 0.05em;
      text-shadow: 0 1px 1px #cccccc36;

      font-size: clamp(
        14px,
        calc(14px + (19 - 14) * ((100vw - 320px) / (1440 - 320))),
        19px
      );
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 3px;
      border-radius: inherit;
      background: g.$gradient-gold-button;

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);

      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

      -webkit-mask-composite: xor;
      mask-composite: exclude;

      pointer-events: none;
    }
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .opening {
    grid-template-columns: 1fr auto;
    row-gap: 8px;

    .opening_container {
      justify-self: center;
      transform: translateX(30px);

      .wrapper_title {
        justify-items: start;
        grid-template-columns: none;

        .hero-line {
          display: none;
        }

        .title_row {
          justify-content: start;
          gap: 11px;
        }

        .opening_content {
          flex-direction: row;
          align-items: flex-end;

          .subtitle_opening {
            padding-bottom: 4px;
          }
        }
      }
    }

    .image-bg {
      width: min(100%, 1250px);
      aspect-ratio: 7 / 3;
      background: url(../assets/background/desktop_version.png) no-repeat
        center/cover;
      margin: auto;
      grid-column: 1/-1;
      transform: translateY(-10px);
    }

    .row3 {
      grid-row: 2;
      transform: translateX(60px);
      justify-self: center;
    }
  }
}

@media (min-width: b.$desktopBreakPoint) {
  .opening {
    padding-block: 70px;
    row-gap: 20px;
    .opening_container {
      transform: translateX(120px);
    }
    .image-bg {
      transform: translate(-20px, -70px);
    }

    .row3 {
      transform: translateX(150px);
    }
  }
}
