@use "../styles/variables/colors" as c;
@use "../styles/variables/mixins" as m;
@use "../styles/variables/breakpoints" as b;

// .opening {
//   border: 2px solid red;
// }

// .opening_container {
//   border: 2px solid blue;
// }

// .image-bg {
//   border: 2px solid green;
// }

.opening {
  display: grid;
  align-items: start;
  min-height: 85dvh;
  padding-block: 50px 80px;

  .opening_container {
    display: grid;
    justify-content: center;

    .wrapper_title {
      position: relative;
      display: grid;
      grid-template-columns: auto 3px;
      justify-items: end;
      gap: 8px;
      width: fit-content;

      .hero-line {
        width: 2.5px;
        background: c.$primaryBrand;
      }

      .title_row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        width: 100%;

        .icon {
          width: 33px;
        }

        .title_opening {
          font-size: 25px;
        }
      }

      .opening_content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        grid-column: 1;

        text-align: right;

        .subtitle_opening {
          font-weight: 400;
          padding-bottom: 0;
          font-size: 15.5px;
          width: 100%;
        }

        .logo img {
          width: 120px;
        }
      }
    }
  }

  .image-bg {
    background: url(../assets/background/bestshop__hero_mobil.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 3;
  }

  .hero_actions .btn {
    @include m.button(0.6em 3em);
    background-color: c.$primaryBrand;
    text-transform: uppercase;
    width: 70%;
    margin: auto;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .opening {
    grid-template-rows: auto auto 1fr;
    justify-items: center;

    .image-bg {
      background: url(../assets/background/desktop_version.png) no-repeat
        center/contain;
      aspect-ratio: 7 / 3;
      width: min(100%, 1100px);
    }

    .row3 {
      grid-row: 2;
      margin: 0px auto;
      width: 40%;
    }

    .hero_actions .btn {
      width: auto;
    }
  }
}

@media (min-width: b.$desktopBreakPoint) {
}
