@import "../styles/variables/breakpoints";
@import "../styles/variables/colors";
@import "../styles/variables/fonts";

.number-style {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
}

.title2 {
  text-align: center;
}

.circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;

  & img {
    position: absolute;
  }

  &.circle-color1 {
    background-color: nth($boxColors, 1);
  }
  &.circle-color2 {
    background-color: nth($boxColors, 3);
  }
  &.circle-color3 {
    background-color: nth($boxColors, 2);
  }
}

img[src*="Eye"] {
  top: 20%;
  left: 30%;
}

img[src*="Catalog"] {
  top: 10%;
}

img[src*="Person"] {
  top: 10%;
}

.stat-boxes-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 20px;
  gap: 10px;

  .statistic-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    text-align: center;
  }
}

@media (min-width: $mobileBreakPoint) {
  .stat-boxes-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-block: 50px;
  }
}
