$paddingPriceButton: 1em 4em;
$paddingSendButton: 1.2em 7em;
$paddingMainButton: 1.25em 8em;
$paddingPriceButton: 0.7em 3em;

@mixin button($padding) {
  display: flex;
  justify-content: center;

  color: #fff;
  text-decoration: none;
  padding: $padding;
  font-family: $mainFont;
  border-radius: 40px;
  box-shadow: 0px 2px 3px 0px grey;
  transition: 0.2s;
  font-weight: 600;
  min-width: 3em;
  max-width: 100%;
  white-space: nowrap;
  letter-spacing: 0.3px;

  &:hover {
    transform: scale(0.95);
  }
}

@mixin logoStyle($fontSize: 32px) {
  font-family: $mainFont;
  font-size: $fontSize;
  color: $primaryBrand;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}
