$boxColors: rgb(254, 174, 0), #55dfb4, #20c0ff;

$boxShadow: #99999934;

$colorSmallFonts: #a5a5a5;
$colorFontHover: #213131;
$primaryBrand: rgb(254, 174, 0);

$colorLightGrey: rgb(242, 241, 241);

$colorMainButton: rgb(254, 174, 0);
$colorGreenButton: #55dfb4;
$colorBlueButton: #20c0ff;
