$boxColors: oklch(0.807647 0.169852 75.7153), #55dfb4, #20c0ff;

$colorGreenButton: #55dfb4;
$colorBlueButton: #20c0ff;

$colorSmallFonts: #959292;
$colorFontHover: #213131;
$primaryBrand: oklch(0.807647 0.169852 75.7153);

$LightGreyBackground: rgb(244, 244, 244);

$colorBorder: #e8e9ed;
$boxShadow: #99999934;
