$boxColors: oklch(0.807647 0.169852 75.7153), #55dfb4, #20c0ff;

$boxShadow: #99999934;

$colorSmallFonts: #959292;
$colorFontHover: #213131;
$primaryBrand: oklch(0.807647 0.169852 75.7153);

$colorLightGrey: rgb(242, 241, 241);

$colorMainButton: oklch(0.807647 0.169852 75.7153);
$colorGreenButton: #55dfb4;
$colorBlueButton: #20c0ff;
